@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    font-family: "Merriweather" ,sans-serif;
    font-optical-sizing: auto;
}

body{
    padding: 13px;
    width: 14rem;
    background-color: rgb(240, 240, 242);
}

#title-section {
    display: flex;
    align-items:center;
    margin-bottom: 0.5rem;
}
#title-section img {
    margin-right: 15px; 
    padding-bottom: 0.3rem;
}
#desc-section{
    margin-bottom: 0.85rem;
}
h1{
    color:  rgb(1, 148, 148);
    margin-bottom: 0.35rem;
}
h2{
    color:  rgba(1, 145, 145, 0.70);
}
p{
    color: rgb(105, 104, 106);
    text-align: center;
}
#global-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox{    
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;  
    height: 30px; 
    background: rgb(179, 179, 179);
    display: block;
    border-radius: 30px;  
    position: relative;
}

label::after {
    content: '';
    position: absolute;
    top: 2px;  
    left: 2px;  
    width: 26px;  
    height: 26px;  
    background: #fff;
    border-radius: 50%;
    transition: 0.2s;
}

label:hover::after {
    background: #f4f4f4;
}

input:checked + label {
    background: #da5557e2;
}

input:checked + label::after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

label:active::after {
    width: 36px;  
}
